.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: #fff;

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background: none;
    color: $color-white;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

    & span {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .2s;
    }

    &--visible {
      padding: 2rem 7.5rem;
    }

    &--hidden {
      padding: 2rem 0;
      position: absolute;
      top: -100%;
      left: 0;
    }


    &:hover &--visible {
      transform: translateY(100%);
    }

    &:hover &--hidden {
      top: 0;
    }
    
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}