*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem === 10px

  @include respon(large) {
    font-size: 50%; //1rem === 8px
  }

  @include respon(phone) {
    font-size: 35%; //1rem === 8px
  }
}

body {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  line-height: 1.6;
  font-family: $default-font-family, 'sans-serif';
  color: $color-grey-dark-2;
}

.container {
  margin: 8rem auto;
  background-color: $color-grey-light-1;
  box-shadow: $box-shadow-dark;
  max-width: 150rem;

  @include respon(large) {
    margin: 0;
  }
}

.content {
  @include respon(tab-port) {
    flex-direction: column;
  }
}

.sidebar {
  background: $color-grey-dark-1;
  flex: 0 0 18%;

  &__list {
    margin-top: 3.5rem;
    list-style: none;

    @include respon(tab-port) {
      display: flex;
      margin: 0;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: .5rem;

        @include respon(tab-port) {
          margin: 0;
        }
      }

      @include respon(tab-port) {
        flex: 1;
      }

      &::after {
        content: "";
        background: $color-primary;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 3px;
        position: absolute;
        transform: scaleY(0);
        transition: transform .3s, width .4s cubic-bezier(1, 0, 0, 1) .3s,
          background-color .1s;
      }

      &:hover::after,
      &.active::after {
        transform: scaleY(1);
        width: 100%;
      }

      &:active::after {
        background-color: $color-primary-light;
      }

      &-link {

        &:visited,
        &:link {
          padding: 1.5rem 3rem;
          position: relative;
          z-index: 2;

          @include respon(tab-port) {
            justify-content: center;
            padding: 2rem;
          }

          @include respon(phone) {
            /*             padding: 1rem .5rem; */
            flex-direction: column;
          }
        }
      }

      &-icon {
        fill: currentColor;
        margin-right: 2rem;

        @include respon(phone) {
          margin-right: 0;
          margin-bottom: .7rem;
        }
      }
    }
  }

  &-legal {
    padding: 2.5rem;

    @include respon(tab-port) {
      display: none;
      padding: 0;
    }
  }
}