.hotel-view {
  flex: 1;

  height: 50rem;
}

.gallery {
  display: flex;

  & img {
    width: 100%;
    display: block;
  }
}

.overview {
  border-bottom: $border-bottom;

  &__heading {
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
  }

  &__location {

    &__btn {
      position: relative;

      &:hover {
        color: $color-grey-dark-1;
      }

      &:focus {
        outline: none;
        animation: pulsate 1s infinite;
      }
    }

    &__icon {
      margin-right: .5rem;
    }
  }

  &__stars-icon,
  &__location__icon {
    fill: $color-primary;
  }

  &__rating {
    background: $color-primary;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;

    &__average {
      margin-bottom: -3px;
    }
  }
}