.hotel-view {
  flex: 1;
}

.gallery {
  display: flex;

  & img {
    width: 100%;
    display: block;
  }
}

.overview {
  border-bottom: $line;

  &__heading {
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
  }

  &__location {

    &__btn {
      position: relative;

      &:hover {
        color: $color-grey-dark-1;
      }

      &:focus {
        outline: none;
        animation: pulsate 1s infinite;
      }
    }

    &__icon {
      margin-right: .5rem;
    }
  }

  &__stars-icon,
  &__location__icon {
    fill: $color-primary;
  }

  &__rating {
    background: $color-primary;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;

    &__average {
      margin-bottom: -3px;
    }
  }
}

.details {
  padding: 4.5rem;
  background: $color-grey-light-1;
  border-bottom: $line;

  &__description {
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: $box-shadow-light;

    & p:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: $line;
    border-bottom: $line;

    &__item {
      flex: 0 0 50%;
      margin-bottom: .7rem;


      &::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        background-color: $color-primary;
        -webkit-mask: url("../../img/chevron-thin-right.svg");
        -webkit-mask-size: cover;
      }
    }
  }

  &__recommand {
    &__text {
      margin-right: auto;
    }
    &__friends {
      & img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 3px solid $color-white;
        box-sizing: content-box;
        margin-left: -1.5rem;
      }
    }
  }

  &__reviews {
    flex: 1;
  }
}