.flex {
  display: flex;

  &-row-Jspace-between {
    display: flex;
    justify-content: space-between;
  }
  &-col-Jspace-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &-abs-Center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &-row-AI-center {
    display: flex;
    align-items: center;
  }

}
