.header {
  align-items: center;
  height: 7rem;
  background: #fff;
  border-bottom: $color-grey-light-2;

  &__logo {
    margin-left: 2rem;
    height: 3.25rem;
  }

  &__form {
    flex: 0 0 40%;

    &-search {
      width: 90%;
      padding: .7rem 2rem;
      margin-right: -3.25rem;
      border: none;
      border-radius: 100px;
      transition: all .2s;
      background: $color-grey-light-2;

      &:focus {
        width: 100%;
        outline: none;
        background: $color-grey-light-3;
      }

      &:focus+&-btn {
        background: $color-grey-light-3;
      }

      &-btn {
        border: none;
        background: $color-grey-light-2;
        transition: all .2s;

        &:focus {
          outline: none;
        }

        &:active {
          transform: translateY(2px);
        }

        &__icon {
          fill: $color-grey-dark-3;
        }
      }
    }
  }

  &__user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    &>* {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &>*:hover {
      background-color: $color-grey-light-3;
    }

    &__icon {
      position: relative;
      &>svg {
        fill: $color-grey-dark-2;
      }
    }


    &__user {
      & img {
        width: 3.75rem;
        border-radius: 50%;
        margin-right: 2rem;
      }
    }

    &__icon-text {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background: $color-primary;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
    }
  }
}